.content{
	background-color: #00f;
	color:  #fff;
}
.imgwrapper{
	max-height: 200px;
	overflow: hidden;
}
.banner{
	display: block;
	width: 100%;
	height: auto;
	margin-top: -150px;
}
.avatar{
	width: 80px;
}